{% extends 'base.html' %}

{% load bootstrap %}

{% block page %}
    <div class="panel form-wrapper">
        <form action='{% url 'account:create_account' %}' method='POST' enctype='multipart/form-data' role='form'>
        {% csrf_token %}
            <legend>Create Account</legend>
            {{ form | bootstrap }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create account</button>
            </div>
        </form>
    </div>
{% endblock page %}
