{% extends 'base.html' %}

{% load bootstrap %}

{% block page %}
    <div class="panel form-wrapper">
        <form action='{% url 'account:password_reset' %}' method='POST' enctype='multipart/form-data' role='form'>
        {% csrf_token %}
            <legend>Reset password</legend>
            {{ form | bootstrap }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Send email</button>
            </div>
        </form>
    </div>
{% endblock page %}
