{% extends 'base.html' %}

{% block page %}
    <div class="panel col-md-5 profile">
        <img src="{{ user.photo.url }}">
        <div class="profile-content">
            <h4>{{ user.short_display_name }}</h4>
            <ul>
                <li><h4>Email:</h4> {{ user.email }}</li>
                <li><h4>Phone:</h4> {{ user.phone }}</li>
            {% if user.in_link %}
                <li><h4>Instagram:</h4> {{ user.in_link }}</li>
            {% endif %}
            {% if user.tw_link %}
                <li><h4>Twitter:</h4> {{ user.tw_link }}</li>
            {% endif %}
            {% if user.vk_link %}
                <li><h4>Vk:</h4> {{ user.vk_link }}</li>
            {% endif %}
            {% if user.fb_link %}
                <li><h4>Facebook:</h4> {{ user.fb_link }}</li>
            {% endif %}
                <li>
                    <h4><a href="{% url 'account:followers' %}" class="fol-links">Followers</a></h4>
                    {% for account in user.followers.all|slice:":3" %}
                        <div class="small-fol">
                            <img src={{ account.photo.url }} />
                            <a href={% url 'account:foreign_profile' account.id %}>{{ account.short_display_name }}</a>
                        </div>
                    {% endfor %}
                </li>
                <li>
                    <h4><a href="{% url 'account:following' %}" className="fol-links">Following</a></h4>
                    <div  id="fol-list-container">
                    {% for account in user.following.all|slice:":3" %}
                        <div class="small-fol">
                            <img src={{ account.photo.url }} />
                            <a href={% url 'account:foreign_profile' account.id %}>{{ account.short_display_name }}</a>
                        </div>
                    {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-1"></div>

    <div class="panel col-md-18 content">
        {% block content %}{% endblock content %}
    </div>
{% endblock page %}
