{% extends 'base.html' %}

{% block page %}
    <div class="panel col-md-5 profile">
        <img src="{{ user.photo.url }}">
        <div class="profile-content">
            <h4>{{ user.short_display_name }}</h4>
            <ul>
                <li><h4>Email:</h4> {{ user.email }}</li>
                <li><h4>Phone:</h4> {{ user.phone }}</li>
            {% if user.in_link %}
                <li><h4>Instagram:</h4> {{ user.in_link }}</li>
            {% endif %}
            {% if user.tw_link %}
                <li><h4>Twitter:</h4> {{ user.tw_link }}</li>
            {% endif %}
            {% if user.vk_link %}
                <li><h4>Vk:</h4> {{ user.vk_link }}</li>
            {% endif %}
            {% if user.fb_link %}
                <li><h4>Facebook:</h4> {{ user.fb_link }}</li>
            {% endif %}
                <li><a href="{% url 'account:followers' %}">Followers</a></li>
                <li><a href="{% url 'account:following' %}">Following</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-1"></div>

    <div class="panel col-md-18 content">
        {% block content %}{% endblock content %}
    </div>
{% endblock page %}
