<!DOCTYPE html>
<html>
    <head>
        <title>Life Social Decisions</title>
        <meta charset='utf-8'>
        {% load staticfiles %}
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <link rel='stylesheet' href='{% static 'account/theme.css' %}'>
        <link rel='stylesheet' href='{% static 'account/style.css' %}'>
    </head>
    <body>

        <header>
            <div class="container">
                <a href="{% url 'account:default_page' %}" class="col-md-2 logo">Life social decisions</a>
                <div class="col-md-4"></div>
                <ul class="col-md-6">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account:logout' %}">Logout</a></li>
                    <li><a href="{% url 'account:profile' user.id %}">Profile</a></li>
                    <li><a href="{% url 'account:update_account' %}">Update account</a></li>
                {% else %}
                    <li><a href="{% url 'account:login' %}">Login</a></li>
                    <li><a href="{% url 'account:create_account' %}">Create account</a></li>
                {% endif %}
                </ul>
            </div>
        </header>

        <main class="container">
            {% block page %}{% endblock page %}
        </main>

    </body>
</html>
